
p {
   margin: 0 0 10px;
   font-size: 18px;
}


a:link {text-decoration:none;}


.content {
    padding:10px 20px;
    background-color: #eee;
}

.title-center {
    text-align: center;
}

.post-author {
    color:#999;font-style: italic;font-size: 18px;
}

.underline {
    border-top: 1px solid gray;
}

.fr {
    float:right
}
.fl {
    float:left
}

.clear {
    clear:both;
}
