<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <!-- <h3>****手动解析****</h3>
    <form action='/remark/' method='post'>
        {% csrf_token %}
        {%for field in form%}
            <p>{{field.label}}:{{field}}</p>
        {% endfor %}
        <p>
            <input type="submit" value="提交">
        </p>
    </form> -->

    <h3>使用form.as_p</h3>
    <!-- form表单 和 各种的按钮,需要自己手动添加 -->
    <form action='/remark/' method='post'>
        {% csrf_token %}
        {{form.as_p}}
        <!-- {{form.as_ul}} -->
        <!-- {{form.as_table}} -->
        <p>
            <input type="submit" value="提交">
        </p>
    </form>
</body>
</html>