{%load static%}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="{%static 'css/sport.css'%}">
</head>
<body>
    <h2 class="redBack">1.使用/static/访问</h2>
    <img src="/static/images/cx17.jpg">

    <h2>2.使用static标签访问</h2>
    <img src="{%static 'images/cx17.jpg'%}">
    <h1>姓名:{{uname|upper}}</h1>
    <h1>性别:
        {%if ugender == 1%}
        男
        {%else%}
        女
        {%endif%}

        {%ifequal ugender 1%}
        帅哥
        {%else%}
        美女
        {%endifequal%}
    </h1>
    <h1>年龄:
        {%if uage >= 50%}
        老年人
        {%else%}
        小朋友
        {%endif%}
    </h1>
    <h1>爱好:
        <ul>
            {%for h in uhobby%}
                <li {%if forloop.first%} style="color:red;" {%endif%}>
                    {{forloop.counter}}:{{h}}
                </li>
            {%endfor%}
        </ul>
    </h1>
</body>
</html>