.form-control{
    width:278px;
    height:38px;
    border:1px solid #ccc;
    padding:0 10px;
    color:#555;
    outline:none;
    font-size:18px;
}

.form-control:focus{
    border-color: #64A131;
    boxshadow:0 0 2px #64A131;
}
